/* Basic styling */
:root{
    --softOrange:#ffae00;
    --gray: #303335;
    --weightDefault:700;
  }
  
  * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    body {
      font-family: sans-serif;
      font-size: 16px;
    }


/* ------------------ Slider */



@media only screen and (max-width: 996px) {
    .info-slider{
        font-size: 16px;
        bottom: 7em;
        left: 4em;
    }
    
    .slideshow-container {
        
        height: 300px;
    }
    
    .img{
        height: 300px;
    }
    
    .prev, .next {
        top: 50%;
    }
    
}

@media only screen and (max-width: 858px) {
    .info-slider {
        width: 66%;
        left: 9em;
    }
}

@media only screen and (max-width: 766px) {
    .info-slider{
        flex-direction: column;
        left: 3em;
        flex-direction: column;
        left: 9em;
        width: 64%;
    }
    
    .btn-access-slider{
        margin: 1em;
    }
    
}

@media only screen and (max-width: 617px) {
    .info-slider{
        left: 4em;
        width: 80%;
    }

}


@media only screen and (max-width: 606px) {
    .info-slider {
        left: 9em;
        width: 54%;
    }
}


@media only screen and (max-width: 558px) {
    .info-slider {
        left: 13em;
        width: 31%;
    }
}


@media only screen and (max-width: 557px) {
    .info-slider {
        left: 3em;
        width: 75%;
    }
    .text-slider{
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next{font-size: 11px}
}


/* ---------------- Articulos pagina de inicio */
@media only screen and (max-width: 725px) {
    .content{
        flex-grow: 1;
    }
    .article-item{
        flex-wrap: wrap;
    }
    #search{
        justify-content: center;
    }
}

@media only screen and (max-width: 387px) {
    #search>form{
        flex-direction: column;
        justify-content: center;
    }
    
    #searchValue{
        margin-bottom: 1em;
    }
    
}

/* ---------------- ABOUT */
@media only screen and (max-width: 862px) {
    .team-container{
        width: 100%;
    }   
}




/* -------------------- Contact */
@media only screen and (max-width: 1246px) {
    .container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        
    }
      
   
}


@media only screen and (max-width: 590px) {

    

#searchValue {
    width: auto;
}
    .form-users{
        padding: 2em;
}

.form-users>h2{
    font-size: 1em;
    justify-content: center;
}
.label-title-form{
    
    align-self: center;
}


.field-form, .form-submit{
    align-self: center;
    width: 16em;
}



.contact-link>img {
    width: 2.5em;
    height: 2.5em;
}



.contact-link{
    margin: 1em;
  }
}

@media only screen and (max-width: 312px) {
    
.article-item{
    padding: .5em;
}
.image-article>img {
    display: none;
}
    
    .form-users{
        padding: 1em;
    }
}


